* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
            z-index: 2;
            color: #dc3545;
        }

        .navbar-nav .nav-link.active {
            color: #dc3545;
            background-color:transparent;
            border-bottom: 2px solid #dc3545;
            border-radius: 0px;
        }

        .nav-link {
            text-align: center;
            color: #fff;
        }

        .nav-link:focus, .nav-link:hover {
            color: #ccc;
        }

        .navbar-toggler {
            background-color: #dc3545;
        }

        header {
            position: sticky;
            top: 0;
            left: 0;
            background-color: #fff;
        }
        
        section {
            padding: 16px;
        }

        section .row {
            margin-top: 26px;
        }